{
  "extends": "./node_modules/@cdimitroulas/typescript-scripts/.eslintrc.json",
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_"}
    ]
  }
}
